<!DOCTYPE html>
<html>

<head>
  <title>View Labeling</title>
</head>

<body>
  <h1> Unlabeled Patients ({{ todo|length }} / {{ todo|length + done|length }})</h1>
  <ul>
    {% for patient in todo %}
    <li><a href="/patient/{{ patient }}">{{ patient }}</a></li>
    {% endfor %}
  </ul>
  <h1> Labeled Patients ({{ done|length }} / {{ todo|length + done|length }})</h1>
  <ul>
    {% for patient in done %}
    <li><a href="/patient{{ patient }}">{{ patient }}</a></li>
    {% endfor %}
  </ul>
</body>
</html>

