<!DOCTYPE html>
<html>

<head>
  <title>EF Labeling</title>
</head>

<body>
  <select name="users" onchange="location=this.options[this.selectedIndex].value;">
    <option value="/">--Select User--</option>
    {% for u in users %}
    <option value="/{{ u }}" {% if u == user %} selected {% endif %}>{{ u }}</option>
    {% endfor %}
  </select>
  {% if user != "" %}
  <h1> Unlabeled Videos ({{ todo|length }} / {{ todo|length + done|length }})</h1>
  <ul>
    {% for video in todo %}
    <li><a href="/{{ user }}/{{ video }}">{{ video }}</a></li>
    {% endfor %}
  </ul>
  <h1> Labeled Videos ({{ done|length }} / {{ todo|length + done|length }})</h1>
  <ul>
    {% for video in done %}
    <li><a href="/{{ user }}/{{ video }}">{{ video }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</body>
</html>

